.chart, .toolbar {
  width: 1000px;
  margin: 0 auto;
}

.toolbar {
  padding: 5px 50px;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.line.bids {
  stroke: red;
}

.line.asks {
  stroke: green;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}